﻿@using System.Web.Optimization
@{
    Layout = "../_MainLayout.cshtml";
    ViewBag.Title = "Index";
}
@section styles {
    @StylesEx.Build("~/Content/HomeIndex.css")
}

<div class="text-center">
    <h2>We're going to have an exciting party!</h2>
    <h3>And you are invited</h3>
    <div class="btn btn-success">
        @Html.ActionLink("RSVP Now", "RsvpForm")
    </div>
</div>