﻿@using System.Web.Optimization
@model PartyInvites.Models.GuestResponse

@{
    Layout = "../_MainLayout.cshtml";
    ViewBag.Title = "Thanks";
}

@section styles
{
    @StylesEx.Build("~/Content/HomeIndex.css")
}
@{
    try
    {
        WebMail.SmtpServer = "smtp.example.com";
        WebMail.SmtpPort = 587;
        WebMail.EnableSsl = true;
        WebMail.UserName = "mySmtpUsername";
        WebMail.Password = "mySmtpPassword";
        WebMail.From = "rsvps@example.com";
        WebMail.Send("party-host@example.com", "RSVP Notification",
            Model.Name + " is " + ((Model.WillAttend ?? false) ? "" : "not") + "attending");
    }
    catch (Exception)
    {
        @:<b>Sorry - we couldn't send the email to confirm your RSVP.</b>
    }
}
<div class="text-center">
    <h1>Thank you, @Model.Name!</h1>
    <div class="lead">
        @if (@Model.WillAttend == true)
        {
            @:It's great that you're coming. The drinks are already in the fridge!
        }
        else
        {
            @:Sorry to hear that you can't make it, but thanks for letting us know.
        }
    </div>
</div>