﻿@model String
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Result</title>
    <meta name="description" content="Review of some C# important features." />
</head>
<body>
    <div>
        @Model
    </div>
</body>
</html>