﻿@errorColor: #f00;
@errorBgColor: #fee;

.field-validation-error {
    color: @errorColor;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid @errorColor;
    background-color: @errorBgColor;
}

.validation-summary-errors {
    font-weight: bold;
    color: @errorColor;
}

.validation-summary-valid {
    display: none;
}