﻿@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/BootstrapStyles")
    @Styles.Render("~/Content/Styles")
    @RenderSection("styles", false)
    <meta name="description" content="Invitation to Parties and Social Events" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/Scripts/jQuery")
    @Scripts.Render("~/Scripts/Bootstrap")
</body>
</html>